<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <tableOfContents assembly="MNPCustomTOC, Version=1.0.0.0, Culture=neutral, PublicKeyToken=40ee72eddc36e38b, Custom=null" type="MNPCustomTOC.ProxyTableOfContents">
    <XmlTableOfContents>/TOC_top.xml</XmlTableOfContents>
  </tableOfContents>
  <!--  <tableOfContents assembly="MNP.TableOfContents" type="Microsoft.MSCOM.MNP.TableOfContents.XmlTableOfContents">  
    <XmlTableOfContents>/TOC_top.xml</XmlTableOfContents>
  </tableOfContents>-->
	<content>
		<register protocol="file" assembly="MNP.Content" type="Microsoft.MSCOM.MNP.Content.FileContent" />
	</content>
    <templates>
    	<folder></folder>
    </templates>
</configuration>